<!-- See https://clarity.design/documentation/login for documentation -->
<div class="login-wrapper">

  <form clrForm class="login">

    <section class="title">
      <h1 class="welcome heading-welcome">Welcome to F<a href="https://en.wikipedia.org/wiki/%C3%9C">ü</a>llstack hiring exercise</h1>

      <h5 class="hint">
        Now starts the part where you demonstrate your skills that you can build
        solid web applications.
      </h5>
    </section>

    <div class="login-group">
      <clr-input-container>
        <label class="clr-sr-only">Email</label>
        <input class="clr-col-12 clr-col-md-12" clrInput type="email" name="login" placeholder="Email" [(ngModel)]="loginDetails.email" />
      </clr-input-container>

      <clr-password-container>
        <label class="clr-sr-only">Password</label>
        <input class="clr-col-12 clr-col-md-12" clrPassword type="password" name="password" placeholder="Password" [(ngModel)]="loginDetails.password" />
      </clr-password-container>

      <div class="error active error-login" *ngIf="errorMessage" [attr.data-error-class]="errorClass">
        {{ errorMessage }}
      </div>

      <button [clrLoading]="state == states.waitingApi" class="btn btn-primary btn-sign-in" type="button" (click)="login()">Sign in</button>
      <a routerLink='/register' class="signup">Sign up for a new account</a>


    </div>
  </form>
</div>
